body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #17f3d9, #0083b0); /* Circular blue-green gradient */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: darkblue;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px  1px 0 white,
    1px  1px 0 white; 
}

input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, yellow,rgb(49, 224, 224)); /* Yellow to light orange gradient */
    color: darkred; /* Dark red text */
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 white,
    -1px  1px 0 black,
    1px  1px 0 white; 
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.task span {
    flex-grow: 1;
}

.task button {
    margin-left: 5px;
    background: linear-gradient(to right, orange, pink); /* Orange to pink gradient */
    border: none;
    color: darkred; /* Dark red text */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.task button:hover {
    background: linear-gradient(to right, orange, pink); /* Orange to pink gradient */
}

ul, li {
    text-align: left;
    color: blue;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 rgb(178, 168, 237),  
    1px -1px 0 rgb(180, 215, 238),
    -1px  1px 0 rgb(186, 150, 236),
    1px  1px 0 rgb(203, 193, 227); 
    border-radius: 10px;
}

button {
    background: linear-gradient(to right, orange, pink); /* Orange to pink gradient */
    color: darkred; /* Dark red text */
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 rgb(178, 168, 237),  
    1px -1px 0 rgb(180, 215, 238),
    -1px  1px 0 rgb(186, 150, 236),
    1px  1px 0 rgb(203, 193, 227); 
    border-radius: 10px;
}

option {
    background: linear-gradient(to right, burlywood, burlywood); /* Burlywood gradient */
    color: teal;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px  1px 0 white,
    1px  1px 0 white; 
    border-radius: 10px;
}

select {
    background: linear-gradient(to right, burlywood, burlywood); /* Burlywood gradient */
    color: teal;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px  1px 0 white,
    1px  1px 0 white; 
    border-radius: 10px;
}

input {
    background: linear-gradient(to right, rgb(231, 136, 12), burlywood);
    color: rgb(2, 2, 13);
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 rgb(178, 168, 237),  
    1px -1px 0 rgb(180, 215, 238),
    -1px  1px 0 rgb(186, 150, 236),
    1px  1px 0 rgb(203, 193, 227); 
    border-radius: 10px;
}

p {
    color: lightblue;
    text-shadow: 
    -1px -1px 0 rgb(15, 0, 0),  
    1px -1px 0 rgb(13, 13, 12),
    -1px  1px 0 rgb(20, 1, 1),
    1px  1px 0 rgb(10, 4, 0);
}